<div class="modal-bg">

    </div>

    <div class="modal-ct">
         <img id="mclose" src="{{static_url("img/close.png")}}"/>
        <h2>客户协议书</h2>
        <div class="modal-dt">
<style>
    p u {
       width: 300px;
    height: 10px;
    border-bottom: 1px solid #ccc;
    position: absolute;
    margin-top: 12px;
    }
</style>
<article>
    <h3 align="center">
        客
    </h3>
    <h3 align="center">
        户
    </h3>
    <h3 align="center">
        协
    </h3>
    <h3 align="center">
        议
    </h3>
    <h3 align="center">
        书
    </h3>
    <p align="center">
        沈阳栢世嘉贵金属业贸易所监制
    </p>
    <br clear="all"/>
    <p align="center">
        <strong>协 议 书</strong>
    </p>
    <p align="left">
        <strong></strong>
    </p>
    <p align="left">
        甲方：<span>沈阳栢世嘉贵金属业贸易所有限公司 </span>
    </p>
    <p align="center">
        <strong></strong>
    </p>
    <p align="left">
        乙方：<u> </u>
    </p>
    <p align="left">
        地址：<u> </u>
    </p>
    <p align="left">
        电话：<u> </u>
    </p>
    <p align="left">
        银行名称：<u> </u>
    </p>
    <p align="left">
        开户行：<u> </u>
    </p>
    <p align="left">
        银行卡号：<u> </u>
    </p>
    <p align="center">
        <strong></strong>
    </p>
    <p align="left">
        丙方：<u> </u>
    </p>
    <p align="left">
        编号：<u> </u>
    </p>
    <br clear="all"/>
    <p align="center">
        客 户 协 议 书
    </p>
</article>
<br clear="all"/>
<div>
    <p>
        鉴于：
    </p>
    <p>
        <strong>根据中华人民共和国有关的法律、法规、及</strong>
        <strong>沈阳栢世嘉贵金属业贸易所</strong>
        <strong>相关买卖规则及各项业务管理制度，甲、乙双方就</strong>
        <strong>甲方相关产品</strong>
        <strong>现货合约及实货买卖</strong>
        <strong>业务</strong>
        <strong>的相关事项达成共识，并自愿签订本协议。</strong>
        <strong></strong>
    </p>
    <p>
        <strong> </strong>
        <strong>
            丙方为甲乙双方提供居间服务，并促成甲乙双方签订本协议。丙方在提供服务时，应向乙方明示其居间的身份，不得假冒甲方分支机构或工作人员身份进行业务拓展。同时，丙方应根据相关业务规则对乙方如实介绍买卖的相关情况，正确揭示风险和收益，不得作虚假宣传，不得作获利保证或其他未经甲方确认的承诺，不得私自向乙方收取各类费用。丙方不得自行代替乙方办理开户、销户事宜，不得与乙方约定分享投资收益，不得代替乙方下达交易指令或调拨资金。
        </strong>
    </p>
    <p>
        协议内容如下：
    </p>
    <p>
        (一) 交易标的
    </p>
    <p>
        在沈阳栢世嘉贵金属业贸易所提供的服务系统上进行买卖的所有买卖品种。
    </p>
    <p>
        (二) 交易数量
    </p>
    <p>
        具体细则参照沈阳栢世嘉贵金属业贸易所的相关买卖规则及管理规定执行。
    </p>
    <p>
        (三) 报价
    </p>
    <p>
        服务系统综合国际贵金属现货市场价格和国内其他贵金属现货市场价格以及中国人民银行美元兑人民币基准汇率、市场供求关系等，连续报出甲方相关产品现货的人民币中间指导价。根据相应的管理办法，在上述人民币中间指导价的基础上，连续报出甲方相关产品现货合约的人民币买入价和卖出价。报价视为要约，本协议另有规定的除外。
    </p>
    <p>
        (四) 买卖时间及结算时间
    </p>
    <p>
        1) 买卖时间：北京时间每周一早06:15至周六早04:00（其中，每天04:55-06:05
    </p>
    <p>
        休市）（夏令）， 每周一早07:15至周六早05:00（其中，每天05:55-07:05休
    </p>
    <p>
        市）（冬令）,（国际市场休市除外）；
    </p>
    <p>
        2) 结算时间：北京时间每个结算日凌晨03:55至04:10（夏令）, 04:55至05:10（冬令）,结算时间内休市；
    </p>
    <p>
        3) 开休市时间如果有变动以甲方的通知为准。
    </p>
    <p>
        (五) 买卖方式
    </p>
    <p>
        乙方可自行选择通过电话或服务系统与甲方进行甲方相关产品现货合约买卖业务。甲方的电话录音、电脑记录等在买卖过程中形成的记录均具有法律效力及证明力。
    </p>
    <p>
        乙方一旦按规定要求向甲方提交买入或卖出的买卖指令（下单），即视为对甲方要约的承诺，但本协议另有规定的除外。
    </p>
    <p>
        (六) 费用
    </p>
    <p>
        乙方在参与甲方相关产品现货合约及实货买卖业务过程中，需支付如下费用：手续费、仓租、提货费、交货费及其它在买卖过程中所产生的各项费用等。其中：
    </p>
    <p>
        1) 手续费：收取标准参照届时有效的沈阳栢世嘉贵金属业贸易所相关买卖规则及各项管理规定；
    </p>
    <p>
        2) 仓租：由甲方根据实际情况确定并公告全体客户；
    </p>
    <p>
        3) 提货费/交货费：收费标准及细则参照届时有效的沈阳栢世嘉贵金属业贸易所相关买卖规则及各项管理规定执行；
    </p>
    <p>
        4) 甲方有权根据甲方的规则和要求对以上费用进行调整。
    </p>
    <p>
        (七) 结算
    </p>
    <p>
        具体结算办法及细则参照届时有效的《沈阳栢世嘉贵金属业贸易所结算管理办法（试行）》执行。
    </p>
    <p>
        (八) 实物交割
    </p>
    <p>
        具体交割办法和细则参照届时有效的《沈阳栢世嘉贵金属业贸易所现货交收管理办法（试行）》执行。
    </p>
    <p>
        (九) 开户及买卖
    </p>
    <p>
        1) 乙方在甲方开设一个买卖账户，然后按照甲方有关规则进行激活才可进行买
    </p>
    <p>
        卖。买卖账户实行每个买卖账户绑定一个密码的“一户一码制”。
    </p>
    <p align="left">
        2)
        乙方开户时，须提供有效的本人身份证（自然人客户）或组织机构代码证、营业执照（机构客户）等甲方要求提交的有效证件，并保证所提供开户资料的真实性、完整性、准确性、有效性，同时需要在甲方指定的银行开立清算账户，用以实现与甲方合约保证金专用账户之间的资金划转。如乙方提供的开户资料虚假，须承担因此而引起的一切责任后果；当有关资料发生变化时，乙方承诺以及时有效方式通知甲方。如资料发生变化，乙方未及时通知甲方而造成的损失由乙方承担。
    </p>
    <p align="left">
        3)
        所有的协议和互联网的通讯都须以甲方授权人员、乙方本人（自然人客户）或乙方授权工作人员（法人客户）的亲笔签名或电子记录进行确认，不得有无关第三方代签名或擅自篡改电子记录等行为，否则由此造成的损失和后果由责任方承担。
    </p>
    <p align="left">
        4)
        乙方必须对买卖账户和所有密码进行妥善保管，并独自承担因保管不善及其他非可归责于甲方而造成的一切后果。如若密码丢失，乙方须向甲方提供其本人有效的身份证件（自然人客户）或组织机构代码证、营业执照（机构客户）、客户协议书以及其他甲方要求的信息，并予以确认签字（机构客户加盖公章确认），经甲方核对无误后，方可将密码恢复至初始状态，乙方须在密码恢复至初始状态后及时修改密码。
    </p>
    <p align="left">
        5) 乙方必须确保其本人（或本机构）有满足维系服务系统顺利运行配置要求的软件和硬件系统。
    </p>
    <p align="left">
        6) 乙方的买卖账户只限本人（或本机构）使用，不得转借他人（或其他机构），如买卖账户转借所引起的一切纠纷和损失均由乙方自行解决和承担。
    </p>
    <p align="left">
        7)
        甲方仅通过客户账号和密码以及电话密码核实乙方身份，乙方应妥善保存其本人（或本机构）的客户账号和相关的密码。凡通过客户账号及密码登陆进行的买卖操作，无论是否确属本人（或本机构）进行的买卖，均视为是乙方本人（或本机构）操作。所有因乙方密码遗失及被盗导致的损失，均与甲方无关，由乙方自行承担。
    </p>
    <p align="left">
        8) 所有乙方通过服务系统及电话发出的买卖指令，一经发出，均不得撤回或撤销。所有乙方通过服务系统发出的买卖指令，以甲方电脑记录的数据为准。
    </p>
    <p align="left">
        9) 乙方对当日的买卖结算结果有异议时，须在一个工作日即 24 小时内向甲方
        书面提出。如果乙方未在规定期限内提出书面异议，视为乙方对买卖结算单 所记载事项的认可。
    </p>
    <p align="left">
        10) 乙方必须遵守和接受甲方制订的有关甲方相关产品买卖事项的一切规则。
    </p>
    <p align="left">
        11) 甲方不接受乙方的任何典押、质押或抵押，乙方也不得将本协议书中的任何权益全部或部分转让给予第三方。
    </p>
    <p align="left">
        12) 乙方在提取账户资金时，其最大的取款金额不能超过其买卖账户内的可提取金额。
    </p>
    <p>
        (十) 违约条款
    </p>
    <p>
        任何一方违反本协议给对方造成损失的，应向守约方承担相应的经济赔偿责任；双方违约的，各自对其违约行为造成的损失承担赔偿责任。
    </p>
    <p>
        (十一) 免责条款
    </p>
    <p>
        1)
        甲方、会员单位及其工作人员对买卖市场的判断和操作建议仅供参考，甲方、会员单位及其工作人员向乙方作出获利或不遭受损失的担保或承诺均属违反甲方规定的行为，不具有法律约束力，乙方据此进行买卖产生的亏损由乙方自己承担。
    </p>
    <p>
        2)
        由于市场情况或其他的特殊原因，甲方可能无法在乙方指定的价位买卖，此情形下，甲方在通知乙方后，若乙方未发出新的买卖指令明确买卖价位的，甲方将暂停买卖，并可即时免除迟延买卖责任。
    </p>
    <p>
        3)
        由于甲方并不能控制电讯信号的中断和连接以及互联网的畅通，也不能保证乙方自身互联网设备及电讯设备的稳定性，由此等原因而使乙方遭受的损失，由乙方自行承担，甲方不负有任何责任。
    </p>
    <p>
        4) 乙方通过电话提交买卖申请时，因电话线路或信号遭受干扰、失灵所造成的乙方损失，甲方不负有任何责任。
    </p>
    <p>
        5)
        由于价格剧烈波动而出现裂口性的不连续报价引起乙方单据以直接跳空高开或跳空低开的价格成交，以至于乙方的亏损超过其净值，此种情况属于不可抗拒的系统性风险，甲方保留其向乙方追索的权利，乙方必须履行其追加资金的义务，不得提出任何异议。
    </p>
    <p>
        6) 由于发生不可抗力及国家有关法律、法规、规章、政策的改变、紧急措施的出台等导致服务系统临时或永久性关闭及其他风险，甲方不承担责任。
    </p>
    <p>
        (十二) 保证条款
    </p>
    <p>
        1) 甲方保证：甲方及其工作人员均不得与乙方私下达成买卖，以利益共享、风 险共担为承诺，利用客户资金从事代客理财业务，不得对客户进行类似收益
        保证的承诺。
    </p>
    <p>
        2) 乙方保证：乙方不得与甲方或甲方工作人员私下达成买卖，以利益共享、风险共担为承诺，委托甲方及甲方工作人员从事代客理财业务。
    </p>
    <p>
        (十三) 其他
    </p>
    <p>
        1) 本协议经甲、乙双方签署后生效，本协议一式两份，甲、乙双方各持一份，具有同等法律效力。
    </p>
    <p>
        2) 本协议的所有条款，对于甲方、乙方均具有法律约束力，任何一方均不得违反。本协议变更须以书面方式进行，并由双方签字（机构客户加盖公章）确认。
    </p>
    <p>
        3)
        双方均同意和接受：沈阳栢世嘉贵金属业贸易所相关交易规则、《沈阳栢世嘉贵金属业贸易所风险控制管理办法（试行）》、《沈阳栢世嘉贵金属业贸易所贵金属现货交收管理办法（试行）》、《沈阳栢世嘉贵金属业贸易所结算管理办法（试行）》、《沈阳栢世嘉贵金属业贸易所客户开户管理办法（试行）》、《沈阳栢世嘉贵金属业贸易所客户销户管理办法（试行）》等由沈阳栢世嘉贵金属业贸易所现行及将来制定、修订或颁布的相关业务及管理制度均将作为本协议的附件，本协议书的附件为本协议不可分割的部分。乙方承诺已充分阅读、理解并接受本协议及附件内容，包括其中有关甲方的免责条款。
    </p>
    <p>
        4)
        本协议各项条款的解释权在甲方。如甲、乙双方就本协议书发生争议，应以友好协商的原则商议解决。经协商不能达成一致意见的，任何一方均可向甲方所在地有管辖权的人民法院提起诉讼，按照申请仲裁时其现行有效的仲裁规则进行仲裁。仲裁裁决是终局的，对双方均有约束力。
    </p>
    <p>
        5)
        乙方可以通过解除签约的方式（依据《沈阳栢世嘉贵金属业贸易所客户销户管理办法（试行）》办理）终止与甲方签订的客户协议书。终止本协议时，乙方必须结清与甲方的所有费用和欠款、违约金，且在终止协议当天无任何交易记录。
    </p>
    <p>
        6)
        本协议书为依据现行有效的法律、法规、政策、规章及甲方各项业务和管理制度所订。如因有关法律、法规、政策、规章、甲方业务和管理制度等发生变动，导致本协议相关条款与其规定相抵触的，应以相关最新变动的法律、法规、政策、规章及甲方各项业务和管理制度为准。
    </p>
    <br clear="all"/>
    <p>
        附件一：
    </p>
    <p align="center">
        风 险 揭 示 书
    </p>
    <p>
        尊敬的客户：
    </p>
    <p>
        沈阳栢世嘉贵金属业贸易所（以下简称“贸易所”）的相关产品现货合约及实货买卖业务是一种潜在收益和潜在风险均不确定的投资业务，对客户的投资风险承受能力、理解投资风险的程度、风险控制能力以及投资经验有较高的要求。客户签署本协议，代表其对在该公司未来进行的贸易所相关产品现货合约及实货买卖业务的风险已有了充分的认知与了解。
    </p>
    <p>
        本风险揭示书（以下简称“揭示书”）旨在向客户充分揭示投资风险，仅为客户评估和确定自身的投资风险承受能力提供参考。本揭示书披露了买卖过程中可能发生的各种风险因素，但是并没有完全包括所有关于贸易所相关产品买卖的风险。鉴于投资风险的存在，在签订贸易所相关产品现货合约及实货买卖业务《客户协议书》及正式进行买卖前，客户应仔细阅读揭示书，确保自己已经充分理解贸易所相关产品现货合约及实货买卖业务有关买卖的性质、规则和风险，客户应依据其个人的投资经验、投资目标、财务状况以及自身承担风险能力等因素自行决定是否参与该买卖。
    </p>
    <p>
        若客户对于本揭示书有不理解或不清晰的地方，应该及时咨询相关的机构，对揭示书不存在异议时方可亲笔签字（机构客户需加盖公章）确认。
    </p>
    <p>
        (一) 温馨提示
    </p>
    <p>
        1)
        贸易所相关产品现货合约及实货买卖业务具有高投机性和高风险性，不适合使用养老基金、债务资金（如金融机构贷款或私人借款）等资金进行买卖的客户。
    </p>
    <p>
        2) 贸易所相关产品现货合约及实货买卖业务只适合于开户时满足以下全部条件的客户：
    </p>
    <p>
        a) 年满 18 周岁、未满 60 周岁并具有完全民事行为能力的自然人或依法在中华人民共和国境内注册成立且合法存续的企业法人或其他经济组织；
    </p>
    <p>
        b) 能够充分理解有关于此买卖的一切风险，并且具有一定的风险承受能力；
    </p>
    <p>
        c) 因买卖失误而造成账户资金部分或全部损失，仍不会改变其正常生活方式或影响其正常生产经营状况的。
    </p>
    <p>
        (二) 相关的风险揭示
    </p>
    <p>
        即使客户进行止盈/止损委托买卖，但市场条件剧烈变动可能使委托不能按客户设定价格被执行，从而无法将盈利/损失控制在客户拟定的范围之内。
    </p>
    <p>
        在市场波动到一定程度时，若客户达到需要追加合约保证金的条件，并可能收到贸易所的善意（非义务）提醒需要追加合约保证金的通知。客户此时应慎重决定是及时平仓还是追加合约保证金，追加合约保证金可能会使损失扩大，而如果客户未能在指定的时间内追加足够的合约保证金金额，在市场波动持续不利于客户的情况下买卖合约可能被甲方根据贸易所规条强行平仓。
    </p>
    <p>
        此外，客户还应注意到下列风险的存在，并须自行承担有关风险及损失：
    </p>
    <p>
        1) 政策风险
    </p>
    <p>
        国家法律、法规、政策规章的变化，紧急措施的出台，相关监管部门监管措施的实施，贸易所买卖规则及各项管理办法、实施细则的修改等原因，均可能会对客户的买卖产生影响，客户必须承担由此导致的损失。
    </p>
    <p>
        2) 价格波动的风险
    </p>
    <p>
        贸易所相关产品作为一种特殊的具有投资价值的商品，其价格受多种因素的影响（如国际经济形势、外汇汇率、相关市场走势、供求关系、政治局势和能源价格等等），这些因素对贸易所相关产品价格的影响机制非常复杂，客户在实际操作中难以全面把握，因而存在出现买卖决策失误的可能性，如果不能有效控制风险，则可能遭受较大的损失，客户必须独自承担由此导致的一切损失。
    </p>
    <p>
        3) 买卖成本风险
    </p>
    <p>
        贸易所相关产品现货合约买卖过程中，可能会因市场风险的转变而调整合约保证金标准、买卖手续费及违约仓租等风险控制策略，可能会影响到买卖成本的预算。客户此时应慎重决定是及时平仓还是暂停操作。当客户持有合约至下一买卖日时，滞纳金将损益计入保证金余额，即使客户实现了买卖产品对价格上的盈利，也可能因为累计滞纳金而出现实际的亏损。
    </p>
    <p>
        4) 技术风险
    </p>
    <p>
        贸易所相关产品现货合约买卖是通过电子通讯技术和互联网技术来实现。有
    </p>
    <p>
        关通讯服务及软、硬件服务由不同的供应商提供，可能会存在品质和稳定性
    </p>
    <p>
        方面的风险；贸易所及会员单位无法控制电讯信号的品质和稳定性，也不能保证买卖客户端的设备配置或网络连接的品质和稳定性以及互联网传送和接收的实时性。故由以上通讯或网络故障导致的某些服务中断或延时可能会对客户的买卖产生影响。另外，客户的电脑系统有可能被病毒或网络黑客攻击，从而使客户的买卖决策无法正确或及时执行。上述不确定因素的出现也存在着一定的风险，有可能会对客户的买卖产生影响，客户应该充分了解并承担由此造成的全部损失。
    </p>
    <p>
        5) 买卖风险
    </p>
    <p>
        a)
        客户应了解贸易所相关产品现货合约买卖业务具有低合约保证金和高杠杆比例的买卖特点，可能导致快速的盈利或亏损。若买卖的方向与行情的波动相反，会造成较大的亏损，根据亏损的程度，客户必须有条件满足随时追加合约保证金的要求，否则其持仓将会被服务系统强制平仓，客户必须承担由此造成的全部损失。
    </p>
    <p>
        b)
        服务系统综合国际贵金属市场价格和国内其他贵金属市场价格以及市场供求关系等，连续报出贸易所相关产品现货合约的人民币中间指导价。该价格可能会与其它途径的报价存在微弱的差距，服务系统并不能保证上述买卖价格与其他市场保持完全的一致性。
    </p>
    <p>
        c) 客户在服务系统内，通过网上终端所提交的市价买卖申请一经成交，即不可撤回或撤销，客户必须接受这种方式可能带来的风险。
    </p>
    <p>
        d)
        客户通过贸易所以电话的方式提交市价单买卖申请，一经贸易所的盘房部报价确认成交后，即不可撤回或撤销，客户必须接受此种报单方式有可能带来的风险。
    </p>
    <p>
        e)
        贸易所、会员单位及其工作人员均不对客户作出获利保证，不会与客户分享收益或共担买卖风险。客户应明确所有针对贸易所相关产品现货合约及实货买卖业务的任何获利保证或不会发生亏损的承诺均为不可能或者是没有根据的误导。
    </p>
    <p>
        f)
        客户的买卖申请必须建立在自主决定的基础之上。贸易所、会员单位及其工作人员提供的任何关于市场的分析和信息，仅代表该会员单位及其个人对市场的观点，不作为客户的买卖参考，不构成任何的要约或承诺。由此而造成的买卖风险由客户自行承担。
    </p>
    <p>
        g)
        在电话以及服务系统买卖的过程中，有可能出现偶然性的明显的错误报价，贸易所可能事后会对错价及错价产生的盈亏作出纠正，由此而造成的买卖风险由客户自行承担。
    </p>
    <p>
        (三) 特别提示
    </p>
    <p>
        1) 客户在参与买卖之前务必详尽地了解贸易所相关产品买卖的基本知识和
    </p>
    <p>
        相关风险以及贸易所有关的业务规则等信息，依法合规从事贸易所相关 产品买卖业务。
    </p>
    <p>
        2)
        沈阳栢世嘉贵金属业贸易所作为全国首家外资管理、辽宁省金融创新项目，与现有的国内其他贵金属买卖市场相比，在买卖模式、买卖规则等方面存在着一定的区别；而且贸易所为了确保市场“公开、公平、公正”和健康稳定地发展，将采取更加严格的措施，强化市场的监管。请客户务必密切地关注有关于该市场的公告、风险提醒等信息，及时了解市场风险状况，做到理性买卖，切忌盲目跟风。
    </p>
    <p>
        3)
        客户在开通买卖之前，请配合会员单位至贸易所系统平台进行开户信息完善工作，且保证开户信息的完整及真实性，不得采取弄虚作假等手段规避有关的要求，否则，贸易所将拒绝为其开通买卖服务。
    </p>
    <p>
        4)
        本揭示书所述风险揭示事项仅为列举性质，未能详尽地列明有关贸易所相关产品买卖的所有风险因素，客户在参与买卖之前，还应认真地对其它可能存在的风险因素有所了解和掌握。
    </p>
    <p>
        5) 我们诚挚希望和建议客户，从风险承受能力等自身实际情况出发，审慎地决定是否参与贸易所相关产品投资，合理地配置自己的金融资产。
    </p>
    <p>
        <strong> </strong>
    </p>
    <p>
        <strong>
            本人（本机构）已认真阅读以上风险说明并完全理解和同意全部内容，自愿承担上述买卖业务造成的风险，以及由此带来的一切可能的损失。
        </strong>
        <strong></strong>
    </p>
    <p>
        自然人或机构法定代表人抄写：
    </p>


    <p align="left"style="margin-bottom: 20px;">
        客户签章：
    </p>
    <hr>
    <p style="margin-top: 10px;">
签署日期：&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日
    </p>
    <p style="margin-top: 10px;">
        提示：自然人客户需签字确认；法人机构客户需法定代表人或授权代表签字，加盖机构公章确认；非法人机构客户需负责人或授权代表签字，加盖机构公章确认。
    </p>
    <br clear="all"/>
    <p>
        附件二：
    </p>
    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="553" colspan="2">
                    <p align="center">
                        客户调查表（自然人客户）
                    </p>
                </td>
            </tr>
            <tr>
                <td width="277">
                    <p>
                        客户姓名：
                    </p>
                </td>
                <td width="276">
                    <p>
                        客户性别：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="277">
                    <p>
                        证件名称：
                    </p>
                </td>
                <td width="276">
                    <p>
                        证件号码：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="277">
                    <p>
                        家庭电话：
                    </p>
                </td>
                <td width="276">
                    <p>
                        移动电话：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="277">
                    <p>
                        职 业：
                    </p>
                </td>
                <td width="276">
                    <p>
                        邮政编码：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        电邮地址：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        家庭住址：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        投资经验：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        □证券 （ 年） □外汇 （ 年） □期货（ 年）
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        □期指 （ 年） □期权 （ 年） □金银（ 年）
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        □房地产（ 年） □银行理财产品（ 年）
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        □其他 （请列明）
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        交易目的：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        □ 套利交易 □ 长期投资 □ 短期投资 □ 风险投资
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        交易风险偏好：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        □高风险高收益 □中风险中收益 □低风险低收益
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        投资额度：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>

                        万元（预定的最高金额，包括开户资金和可能用于追加交易准备金的其他资金）
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        对于以上表格中所提供的资料及信息，作为协议书不可分割的一部分，本人是自愿填写的，并且保证真实有效。
        <br clear="all"/>
    </p>
    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="553" colspan="2">
                    <p align="center">
                        客户调查表（机构客户）
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        机构名称：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="276">
                    <p>
                        证件名称
                    </p>
                </td>
                <td width="277">
                    <p>
                        证件号码（机构代码）：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="276">
                    <p>
                        证件名称：
                    </p>
                </td>
                <td width="277">
                    <p>
                        证件号码（营业执照）：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="276">
                    <p>
                        办公电话：
                    </p>
                </td>
                <td width="277">
                    <p>
                        传真号码：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        电邮地址：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        机构地址：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        机构投资经验：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        □证券 （ 年） □外汇 （ 年） □期货（ 年）
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        □期指 （ 年） □期权 （ 年） □金银（ 年）
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        □房地产（ 年） □银行理财产品（ 年）
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        □其他 （请列明）
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        交易目的：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        □ 套利交易 □ 长期投资 □ 短期投资 □ 风险投资
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        交易风险偏好：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        □高风险高收益 □中风险中收益 □低风险低收益
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>
                        投资额度：
                    </p>
                </td>
            </tr>
            <tr>
                <td width="553" colspan="2">
                    <p>

                        万元（预定的最高金额，包括开户资金和可能用于追加交易准备金的其他资金）
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        对于以上表格中所提供的资料及信息，作为协议书不可分割的一部分，本人是自愿填写的，并且保证真实有效。
    </p>
    <br clear="all"/>
    <p>
        附件三：
    </p>
    <p align="center">
        客户基本资料
    </p>
    <p>
        本客户协议书需附彩色文件：
    </p>
    <p>
        (一) 自然人客户（姓名）：
    </p>
    <p>
        1) 二代身份证、护照、港澳居民来往内地通行证复印件（正反面）
    </p>
    <p>
        2) 银行卡复印件
    </p>
    <p>
        (二) 机构客户（机构全称）：
    </p>
    <p>
        1) 营业执照正副本复印件
    </p>
    <p>
        2) 税务登记证复印件
    </p>
    <p>
        3) 组织机构代码证复印件
    </p>
    <p>
        4) 企业法定代表人（负责人）二代身份证复印件（正反面）
    </p>
    <p>
        附件四：
    </p>
    <p align="center">
        风险提示书
    </p>
    <p>
        尊敬的客户：
    </p>
    <p>
        目前贸易所提供的服务系统中的限价建仓和限价平仓功能（包括设定止盈、止损价格功能），可能会存在以下风险：
    </p>
    <p>
        在您使用该功能时，虽然您设定了建仓或平仓的价格（止盈、止损价格），但是由于电脑设备运行速度、网络传输速度等不可控因素影响原因，可能会导致在行情触及或穿越指定价格时，服务系统没有为您成交该笔单据。
    </p>
    <p>
        因此，我们特别提示您在使用服务系统中限价建仓和限价平仓功能（包括设定止盈、止损价格功能）时，应充分考虑上述风险。
    </p>
    <p>
        如果您无法理解或承受上述风险，我们建议您不要使用该功能进行买卖。如果您坚持使用该功能，将视为您已经完全理解并愿意承担使用该功能的全部风险，并愿意承担使用该功能所带来的一切后果。
    </p>
    <p>
        本风险提示书无法揭示使用限价建仓功能和限价平仓功能（包括设定止盈、止损价格功能）所带来的所有风险和服务系统的全部情形。故您在使用之前，应全面理解贸易所买卖规则及实施细则，对自身的经济承受能力、风险控制能力、身体及心理承受能力（仅对自然人客户而言）、理解能力做出客观判断，对服务系统作仔细的、全面的研究。
    </p>
    <br clear="all"/>
    <p>
        附件五：
    </p>
    <p align="center">
        客户须知
    </p>
    <p>
        为规范市场人员开拓、发展、服务现货投资者的行为，提高职业道德和职业素质，加强内部合规管理，增强自我约束能力，沈阳栢世嘉贵金属业贸易所有限公司（以下简称“贸易所”）特制定以下《市场人员开发行为准则》。现予以公布：
    </p>
    <p>
        凡以贸易所名义开发现货交易业务，并为投资者提供相关服务的都为市场人员，包括会员公司及其工作人员，均应遵守以下准则：
    </p>
    <p>
        一、 市场人员应当遵守国家的法律、法规、政策，遵守贸易所规章制度。
    </p>
    <p>
        二、 市场人员应当服从贸易所管理，合规开发投资者，为投资者提供优质服务。
    </p>
    <p>
        三、 市场人员之间应团结协作，相互促进，共同发展，公平竞争，维护贸易所形象和声誉。
    </p>
    <p>
        四、 禁止市场人员从事下列行为：
    </p>
    <p>
        1. 接受投资者委托进行交易指令操作；
    </p>
    <p>
        2. 擅自进行任何形式的代客下单、为投资者提供交易建议或不负责任的其他信息；
    </p>
    <p>
        3. 向投资者承诺保证盈利或不存在亏损的风险；
    </p>
    <p>
        4. 以返还、变相返还投资者交易佣金为手段招揽业务；
    </p>
    <p>
        5. 泄露投资者信息内容，包括但不限于：协议内容，开户信息，交易情况；
    </p>
    <p>
        6. 未经贸易所同意，私自通过委托、冒名顶替等方式将投资者转由包括其他市场人员在内的其他人进行开拓、发展、服务等；
    </p>
    <p>
        7. 其他有损投资者和贸易所及会员单位利益的行为。
    </p>
    <p>
        五、 如市场人员存在上述违规行为的，投资者有权向贸易所举报。贸易所接到举报后，应尽快对涉及的市场人员进行处理。
    </p>
    <p>
        六、
        市场人员因违反本准则导致贸易所及会员单位声誉、投资者权益受到损害的，由该市场人员承担全部责任，贸易所除扣除其他全部业务提成或代理费外，可视具体情况解除合作关系，并保留追究其相应责任的权利。
    </p>
    <p>
        七、 贸易所有权根据市场变化及企业管理需要，对本准则进行适当调整。调整后的新准则一经公布即生效，市场人员应遵守之。
    </p>
    <p>
        本人已阅读、理解上述准则。
    </p>
    <p align="left">
        附件六：
    </p>
    <p align="center">
        客户确认函
    </p>
    <p>
        本人/本单位保证已在会员单位的配合下完成以下事项：
    </p>
    <p>
        1) 本人/本单位已经亲笔签署《风险揭示书》以及《客户协议书》；
    </p>
    <p>
        2) 本人/本单位已按照有关规定配合会员单位采集了本人/本单位的影像资料；
    </p>
    <p>
        3) 本人/本单位保证已满足开户条件且非贸易所禁入者；
    </p>
    <p>
        4) 本人/本单位已办理合约保证金存管业务；
    </p>
    <p>
        5) 本人/本单位已熟悉《沈阳栢世嘉贵金属业贸易所交易规则》及相关办法；
    </p>
    <p>
        6) 本人/本单位已掌握服务系统各项功能并能熟练操作；
    </p>
    <p>
        7) 本人/本单位申请立即开通买卖。
    </p>
    <p align="left">
        凡由于对买卖规则等相关制度理解有误或服务系统操作失误而造成的一切损失由本人<strong>/</strong>本单位独自承担。
    </p>
    <p align="right"  style="margin-right: 40px;margin-bottom: 20px;">
        客 户：<u> </u> （签字盖章）
    </p>
    <p align="right"  style="margin-right: 40px;">
        日期：&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日
    </p>
    <h3 align="center" style="margin-top: 20px;">
        关于确认买卖规则及风险承受能力声明
    </h3>
    <p align="left">
        本人（身份证/护照号码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;）
        已清晰了解沈阳栢世嘉贵金属业贸易所（以下简称“贸易所”）产品买卖规则（包括且不限于合约保证金率）以及投资风险。
    </p>
    <p align="left">
        本人有一定的金融投资知识，本人在此之前进行了贸易所产品模拟买卖，模拟练习 10
        笔买卖，已经充分认知了解贸易所的买卖规则，能够充分理解有关买卖的一切风险，并且具有一定的风险承受能力。同时，作为一名有一定经验的投资者，本人现所投入的资金如果因为买卖失误而造成帐户资金部分或者全部亏损，不会改变本人正常的生活方式，不会影响到本人的生活水平。
    </p>
    <p align="left">
        鉴于此，本人认为本人是一个具一定成熟的投资者，愿意接受并承担因买卖贸易所产品而带来的风险。
    </p>
    <p align="left">
        本人特此声明并同意将此声明作为与贵司签订之客户协议书的有效补充。
    </p>
    <p align="left" style="margin-bottom: 18px;">
        声 明 人：<u> </u>
    </p>

    <p align="left" style="margin-top: 20px;">
        声明日期：&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日
    </p>
    <br clear="all"/>
    <p align="left">
        <strong>（《客户协议书》签字页）</strong>
        <strong></strong>
    </p>
    <p align="left">
        <strong>提示：</strong>
        <strong></strong>
    </p>
    <p align="left">
        <strong>1) </strong>
        <strong>
            乙方为自然人的，需签字确认；乙方为法人机构的，需法定代表人或授权代表签字，加盖机构公章确认；乙方为非法人机构的，需要负责人或授权代表签字，加盖机构公章确认；
        </strong>
        <strong></strong>
    </p>
    <p align="left">
        <strong>2) </strong>
        <strong>本协议一共</strong>
        <strong> 18 </strong>
        <strong>
            页，包括协议书正文及六份附件（《风险揭示书》、《客户调查表》、《客户基本资料》、《风险提示书》、《客户须知》、《客户确认函》和《关于确认买卖规则及风险承受能力声明》），缺一不可，如果客户在签署时发现缺页，请切勿签署。
        </strong>
        <strong></strong>
    </p>
</div>
<br clear="all"/>
<p align="left">
    甲方（盖章）：<u></u>
</p>
<p align="left">
    法定代表人 或
    <br/>
    授权代表（签字）：<u></u>
</p>
<p align="left">
    签署日期：
</p>
<p align="left">

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日
</p>
<p align="left">
    乙方（盖章）：<u></u>
</p>
<p align="left">
    法定代表人 或
    <br/>
    授权代表（签字）：<u></u>
</p>
<p align="left">
    签署日期：
</p>
<p align="left">

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日
</p>
        </article>
        </div><!-- modal-dt -->
    </div><!-- modal ct -->