{% include "head.html" %}
{% include "nav.html"%}
<!-- 图片轮播-->
<div class="slider">
    <ul>
        <li><a href="/"><img src="{{static_url("img/slide01.jpg")}}"/></a></li>
        <li><a href="/"><img src="{{static_url("img/slide03.jpg")}}"/></a></li>
        <li><a href="/"><img src="{{static_url("img/slide04.jpg")}}"/></a></li>
    </ul>
</div>
<div class="content nqdt">
    <div class="news">
        <h3 class="ntitle">最新资讯</h3>
        <ul class="nul">
            {% if news %}
            {% for i in news %}

            <li><h3><a href="/news/{{i[0]}}">{{i[1]}}</a></h3><p class="brief">{{i[3]}}</p><p class="pdate">{{i[5]}}</p></li>
            {% end %}
            {% end %}

        </ul>
    </div>
    <div class="quotes">
        <h3 class="ntitle">交易行情</h3>
        <ul class="qul">
            <li data-target="index-tag1">亚太指数</li>
            <li data-target="index-tag2">欧美指数</li>
            <li data-target="index-tag3">外汇交易</li>
        </ul>
        <!--亚太指数-->
        <div id="index-tag1" class="shtabs active">
            <ul>
                <li><span id="shindex">上证指数</span><span class="cindex"></span><i id="shi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="szindex">深证指数</span><span class="cindex"></span><i id="szi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="cybindex">创业板指数</span><span class="cindex"></span><i id="cybi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="hsindex">恒生指数</span><span class="cindex"></span><i id="hsi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="hsgqindex">恒生国企指数</span><span class="cindex"></span><i id="hsgqi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="jpindex">东京日经指数</span><span class="cindex"></span><i id="jpi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="jpftindex">东京日经期货指数</span><span class="cindex"></span><i id="jpfti_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="twindex">台北加权指数</span><span class="cindex"></span><i id="twi_up_or_down"></i><span  class="udval"></span></li>
            </ul>
        </div>
        <!--欧美指数-->
        <div id="index-tag2" class="shtabs">
            <ul>
                <li><span id="djindex">杜琼斯指数</span><span class="cindex"></span><i id="dji_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="gdaxindex">德国DAX指数</span><span class="cindex"></span><i id="gdaxi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="ftseindex">伦敦富时指数</span><span class="cindex"></span><i id="ftsei_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="amexindex">美国 AMEX 综合指数  </span><span class="cindex"></span><i id="amexi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="spindex">标淮普尔500指数</span><span class="cindex"></span><i id="spi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="nsdkindex">纳斯达克指数</span><span class="cindex"></span><i id="nsdki_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="nyoindex">纽约原油</span><span class="cindex"></span><i id="nyoi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="usbindex">美国30年国债</span><span class="cindex"></span><i id="usbi_up_or_down"></i><span  class="udval"></span></li>
            </ul>
        </div>
        <div id="index-tag3" class="shtabs">
            <table>
                <tr>
                    <td>货币</td>
                    <td>买</td>
                    <td>卖</td>
                    <td>货币</td>
                    <td>买</td>
                    <td>卖</td>
                </tr>

                <tr>
                    <td id="lgucr">伦敦金/美元</td>
                    <td><i class="lgucr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="lgucr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="lsucr">伦敦银/美元</td>
                    <td><i class="lsucr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="lsucr_up_or_down"></i><span class="mcindex sell"></span></td>
                </tr>
                <tr>
                    <td id="hkdcr">港金/港元</td>
                    <td><i class="hkdcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="hkdcr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="euuscr">欧罗/美元</td>
                    <td><i class="euuscr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="euuscr_up_or_down"></i><span class="mcindex sell"></span></td>
                </tr>
                <tr>
                    <td id="usjpcr">美元/日圆</td>
                    <td><i class="usjpcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="usjpcr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="ukuscr">英镑/美元</td>
                    <td><i class="ukuscr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="ukuscr_up_or_down"></i><span class="mcindex sell"></span></td>
                </tr>
                <tr>
                    <td id="usswcr">美元/瑞郎</td>
                    <td><i class="usswcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="usswcr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="auuscr">澳元/美元</td>
                    <td><i class="auuscr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="auuscr_up_or_down"></i><span class="mcindex sell"></span></td>
                </tr>
                <tr>
                    <td id="uscacr">美元/加元</td>
                    <td><i class="uscacr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="uscacr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="eujpcr">欧罗/日元</td>
                    <td><i class="eujpcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="eujpcr_up_or_down"></i><span class="mcindex sell"></span></td>

                </tr>
                <tr>
                    <td id="euswcr">欧罗/瑞郎</td>
                    <td><i class="euswcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="euswcr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="euukcr">欧罗/英镑</td>
                    <td><i class="euukcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="euukcr_up_or_down"></i><span class="mcindex sell"></span></td>

                </tr>
                <tr>
                    <td id="ukjpcr">英镑/日圆</td>
                    <td><i class="ukjpcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="ukjpcr_up_or_down"></i><span class="mcindex sell"></span></td>

                    <td id="ukswcr">英镑/瑞郎</td>
                    <td><i class="ukswcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="ukswcr_up_or_down"></i><span class="mcindex sell"></span></td>

                </tr>
                <tr>
                    <td id="aujpcr">澳元/日圆</td>
                    <td><i class="aujpcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="aujpcr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="nyuscr">纽元/美元</td>
                    <td><i class="nyuscr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="nyuscr_up_or_down"></i><span class="mcindex sell"></span></td>
                </tr>
                <tr>
                    <td id="aunycr">澳元/纽元</td>
                    <td><i class="aunycr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="aunycr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="usrmbcr">美元/人民币</td>
                    <td><i class="usrmbcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="usrmbcr_up_or_down"></i><span class="mcindex sell"></span></td>
                </tr>
            </table>
            <hr />

        </div>
        <div class="warning">
            <h2 style="text-align:center;margin-bottom: 10px;">　　敬请各位尊贵客户注意： </h2>
            <p>　　1、基于市场波动迅速，故此任何挂单（包括止损止盈单）均会以市场成交价为准，可能会造成成交价与挂单价有所出入，敬请各位客户注意，所以贵客户在设立挂单时需评估市场风险。 </p>
            <p>　　2、交易系统图表数据仅作提供参考，并非成交价，一切成交价以报价为基准，敬请各位尊贵客户留意。</p>
            <p>　　3、由于各个交易中心贵金属报价方式不一，导致点位或者总体行情趋势会有区别，本贸易所采用实时联动人民币汇率报价方式，因此人民币的汇率会直接影响相关贵金属报价。敬请知悉！（由于人民币汇率波动，对市场产生大幅波动，敬请各位客户注意。）</p>
            <p><br /></p>
        </div>
    </div>


</div>
{% include "apply_for_account.html" %}

{% include "footer.html" %}
<script type="text/javascript" src="{{static_url("js/unslider-min.js")}}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".slider").unslider({autoplay: true, delay: 5000});
    //首页价格标签部分
    //$.indexPriceTabs();
    $.switchTabs(".quotes .qul li","click","data-target",".shtabs","active");
    //websocket
    $.cnwebSocket();
});
    
</script>
