<body>

<div class="content">
    <div class="nav left" id="topnav" style="position: relative;">
        <a href="/"><img src="{{static_url("img/pspme_logoandtext.png")}}"/></a>
        <p>栢世嘉贸易所合作引荐机构018号</p>
    </div>
    <div class="nav right" id="navinfo">
        <ul>
            {% if active != "apply"%}<li><a href="javascript:;" id="apply">申请开户</a></li>{% end %}
            <li><a href="https://pstrade.pspme.cn/Web">登陆</a></li>
            <li><a href="https://psdemo.pspme.cn/Web">模拟登陆</a></li>
        </ul>   
    </div>

</div>
<div class="nav-content nav">
    <div class="content">
        <ul>
        <li class="">
        <a href="/">首页</a>
        </li>
        <li class="">
            <a href="/service/">产品及服务</a>
        </li>
        <li class="">
            <a href="/finance/">出入金流程</a>
        </li>
        <li class="">
            <a href="/newslist/">财经资讯</a>
        </li>
        <li class="">
            <a href="/trade/">实物交割</a>
        </li>

    </ul>
    </div>
</div>
