{% include "head.html" %}
{% include "nav.html"%}
<style>
        body{background-color: #ffffff;}
</style>
    <img src="{{static_url("img/finance02.jpg")}}"/>
<div class="content trade" style="min-height:480px;">
    <dl>
        <dt class="title">实货买卖方式</dt>
        <dd>沈阳栢世嘉贵金属业贸易所及辖下所有会员公司及各地区分公司均可进行沈贵银实物的交割、销售和回购。买卖手续简便，只需要到指定各地仓库进行实物交割。</dd>
        <dt>交割基本要素</dt>
        <dd>标准的银条为1kg，银砖15kg，成色皆不低于AG.999.9及AG999.5，每件银条、银砖之上刻有贸易所所认定的唯一编号、重量、纯度、标识和生产商标识。</dd>
        <dd>贸易所严格选择生产厂家并向生产厂家进行生产资质授权，相关信息在网站公布，唯有经过贸易所授权之合格厂商才有权作为贸易所指定生产厂生产的银条、银砖。</dd>
        <dt>交割与销售</dt>
        <dd>客户可于现货合约弥补百份比之差价后，方能兑现实货，需在贸易所网点当场平仓并凭当场打印出的该笔平仓单据办理，对于非即时平仓而提出的交割申请则不予受理。<br /></dd>
        <dd>成交价格=平仓价格+单位提货费 (详情见手续费栏)</dd>
        <dd>客户须按照成交价格和提货数量，支付足额资金。</dd>
        <dd>销售是指客户可在仓储交割地现场购买贸易所产品。</dd>
        <dd>购买价格=即时报价+单位提货费(详情见手续费栏)</dd>
        <dt>实物回购</dt>
        <dd>回购指客户向贸易所交付质量合格的贸易所交易标的方式，对己方持有卖仓位进行平仓，或直接将质量合格的贸易所标的回售给贸易所。</dd>
        <dd>贸易所客户持有卖仓位申请回购，须在公司营业网络点当场平仓并当场打印出的该笔平仓单据办理。</dd>
        <dd>贸易所对非基于即时平仓而提出的平仓回购申请可不予受理。</dd>
        <dd>平仓回购价格=平仓价格 - 单位手续费 (详情见手续费栏)</dd>
        <dd>客户可持贸易所标的和原始出货单直接到贸易所各会员网点申请回购。</dd>
        <dd>回购价格=即时价格 - 单位手续费(详情见手续费栏)</dd>
        </dl>
    <dl>
        <dt>沈贵银实货规格</dt>
        <dd>交货日期按照下表执行：</dd>
        <dd>
            <table width="600px" border="1" class="rules_tab">
                <thead><tr><th>买卖标准</th><th>交割数量（G）</th><th>交割期限</th></tr></thead>
                <tbody><tr><td rowspan="3">银条/银砖</td><td>10千克以内</td><td>10个工作日内</td></tr><tr><td>10千克-100千克</td><td>20个工作日内</td></tr><tr><td>100千克以上</td><td>双方商定</td></tr></tbody>
            </table>
        </dd>
        <dd>（所有商品均由检测中心鉴定后出售，买卖过程中的各项费用由买方负责。）</dd>
        <dd>贸易所回购支付期限：</dd>
        <dd>
            <table width="600px" border="1" class="rules_tab">
            <thead><tr><th>买卖标准</th><th>交割数量（G）</th><th>交割期限</th></tr></thead>
            <tbody><tr><td rowspan="3">银条/银砖</td><td>10千克以内</td><td>10个工作日内</td></tr><tr><td>10千克-100千克</td><td>20个工作日内</td></tr><tr><td>100千克以上</td><td>双方商定</td></tr></tbody></table>
        </dd>
        <dd>（所有回购需经由检测中心鉴定后才回购结算，期间各项费用由卖方负责。）</dd>
        <p><span style="color:#ff0000;"><br /></span></p>
        <p style="text-align:right;"><span style="color:#ff0000;"> &nbsp; * 贸易所保留所有合约条款更改权利，如有更改，贸易所会另行通知。</span></p>
        <dt><br /></dt>
    </dl>
</div>

{% include "apply_for_account.html" %}
{% include "footer.html" %}

