{% include "head.html" %}
<div>
{% include "nav.html"%}
<!-- 图片轮播-->
<div class="slider">
    <ul>
        <li><a href="/"><img src="{{static_url("img/slide01.jpg")}}"/></a></li>
        <li><a href="/"><img src="{{static_url("img/slide02.jpg")}}"/></a></li>
        <li><a href="/"><img src="{{static_url("img/slide03.jpg")}}"/></a></li>
        <li><a href="/"><img src="{{static_url("img/slide04.jpg")}}"/></a></li>
    </ul>
</div>
<div class="content nqdt">
    <div class="news">
        <h3 class="ntitle">行情资讯</h3>
        <ul class="nul">
            <li><a href="javascript:;">[2017-02-27]初请失业金不及预期 沈贵银有望周线九连阳</a></li>
            <li><a href="javascript:;">[2017-02-27]会议纪要鹰派力度不够 沈贵银短线上涨</a></li>
            <li><a href="javascript:;">[2017-02-27]美联储会议纪要来袭 沈贵银多头迎来大考</a></li>
            <li><a href="javascript:;">[2017-02-27]美联储官员相继讲话 沈贵银继续高位震荡</a></li>
            <li><a href="javascript:;">[2017-02-27]耶伦特朗普相继发威 沈贵银连续第八周收阳</a></li>
            <li><a href="javascript:;">[2017-02-27]初请失业金不及预期 沈贵银有望周线九连阳</a></li>
            <li><a href="javascript:;">[2017-02-27]会议纪要鹰派力度不够 沈贵银短线上涨</a></li>
            <li><a href="javascript:;">[2017-02-27]美联储会议纪要来袭 沈贵银多头迎来大考</a></li>
            <li><a href="javascript:;">[2017-02-27]美联储官员相继讲话 沈贵银继续高位震荡</a></li>
            <li><a href="javascript:;">[2017-02-27]耶伦特朗普相继发威 沈贵银连续第八周收阳</a></li>

        </ul>
    </div>
    <div class="quotes">
        <h3 class="ntitle">行情报价</h3>
        <ul class="qul">
            <li data-target="index-tag1">亚太指数</li>
            <li data-target="index-tag2">欧美指数</li>
            <li data-target="index-tag3">外汇交易</li>
        </ul>
        <!--亚太指数-->
        <div id="index-tag1" class="shtabs active">
            <ul>
                <li><span id="shindex">上证指数</span><span class="cindex"></span><i id="shi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="szindex">深证指数</span><span class="cindex"></span><i id="szi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="cybindex">创业板指数</span><span class="cindex"></span><i id="cybi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="hsindex">恒生指数</span><span class="cindex"></span><i id="hsi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="hsgqindex">恒生国企指数</span><span class="cindex"></span><i id="hsgqi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="jpindex">东京日经指数</span><span class="cindex"></span><i id="jpi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="jpftindex">东京日经期货指数</span><span class="cindex"></span><i id="jpfti_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="twindex">台北加权指数</span><span class="cindex"></span><i id="twi_up_or_down"></i><span  class="udval"></span></li>
            </ul>
        </div>
        <!--欧美指数-->
        <div id="index-tag2" class="shtabs">
            <ul>
                <li><span id="djindex">杜琼斯指数</span><span class="cindex"></span><i id="dji_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="gdaxindex">德国DAX指数</span><span class="cindex"></span><i id="gdaxi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="ftseindex">伦敦富时指数</span><span class="cindex"></span><i id="ftsei_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="amexindex">美国 AMEX 综合指数  </span><span class="cindex"></span><i id="amexi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="spindex">标淮普尔500指数</span><span class="cindex"></span><i id="spi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="nsdkindex">纳斯达克指数</span><span class="cindex"></span><i id="nsdki_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="nyoindex">纽约原油</span><span class="cindex"></span><i id="nyoi_up_or_down"></i><span  class="udval"></span></li>
                <li><span id="usbindex">美国30年国债</span><span class="cindex"></span><i id="usbi_up_or_down"></i><span  class="udval"></span></li>
            </ul>
        </div>
        <div id="index-tag3" class="shtabs">
            <table>
                <tr>
                    <td>货币</td>
                    <td>买</td>
                    <td>卖</td>
                    <td>货币</td>
                    <td>买</td>
                    <td>卖</td>
                </tr>

                <tr>
                    <td id="lgucr">伦敦金/美元</td>
                    <td><i class="lgucr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="lgucr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="lsucr">伦敦银/美元</td>
                    <td><i class="lsucr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="lsucr_up_or_down"></i><span class="mcindex sell"></span></td>
                </tr>
                <tr>
                    <td id="hkdcr">港金/港元</td>
                    <td><i class="hkdcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="hkdcr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="euuscr">欧罗/美元</td>
                    <td><i class="euuscr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="euuscr_up_or_down"></i><span class="mcindex sell"></span></td>
                </tr>
                <tr>
                    <td id="usjpcr">美元/日圆</td>
                    <td><i class="usjpcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="usjpcr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="ukuscr">英镑/美元</td>
                    <td><i class="ukuscr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="ukuscr_up_or_down"></i><span class="mcindex sell"></span></td>
                </tr>
                <tr>
                    <td id="usswcr">美元/瑞郎</td>
                    <td><i class="usswcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="usswcr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="auuscr">澳元/美元</td>
                    <td><i class="auuscr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="auuscr_up_or_down"></i><span class="mcindex sell"></span></td>
                </tr>
                <tr>
                    <td id="uscacr">美元/加元</td>
                    <td><i class="uscacr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="uscacr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="eujpcr">欧罗/日元</td>
                    <td><i class="eujpcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="eujpcr_up_or_down"></i><span class="mcindex sell"></span></td>

                </tr>
                <tr>
                    <td id="euswcr">欧罗/瑞郎</td>
                    <td><i class="euswcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="euswcr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="euukcr">欧罗/英镑</td>
                    <td><i class="euukcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="euukcr_up_or_down"></i><span class="mcindex sell"></span></td>

                </tr>
                <tr>
                    <td id="ukjpcr">英镑/日圆</td>
                    <td><i class="ukjpcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="ukjpcr_up_or_down"></i><span class="mcindex sell"></span></td>

                    <td id="ukswcr">英镑/瑞郎</td>
                    <td><i class="ukswcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="ukswcr_up_or_down"></i><span class="mcindex sell"></span></td>

                </tr>
                <tr>
                    <td id="aujpcr">澳元/日圆</td>
                    <td><i class="aujpcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="aujpcr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="nyuscr">纽元/美元</td>
                    <td><i class="nyuscr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="nyuscr_up_or_down"></i><span class="mcindex sell"></span></td>
                </tr>
                <tr>
                    <td id="aunycr">澳元/纽元</td>
                    <td><i class="aunycr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="aunycr_up_or_down"></i><span class="mcindex sell"></span></td>
                    <td id="usrmbcr">美元/人民币</td>
                    <td><i class="usrmbcr_up_or_down"></i><span class="mcindex buy"></span></td>
                    <td><i class="usrmbcr_up_or_down"></i><span class="mcindex sell"></span></td>
                </tr>
            </table>

        </div>

    </div>


</div>
    <div class="modal-bg">

    </div>

    <div class="modal-ct">
         <img id="mclose" src="{{static_url("img/close.png")}}"/>
        <div class="modal-dt">
            <article>
                <p align="left">
    <strong style="color:red;">
        您提交的全部信息将会传送至栢世嘉贸易所由专门人员审核，审核通过后会有客服人员通过电话对您进行回访，以核对您是否已经阅读并同意风险告知及服务条款，我们将确保您的个人信息不会用于开户以外的任何其他用途。
    </strong>
</p>
<p>
</p>
<p align="center">
    风 险 揭 示 书
</p>
<p>
    尊敬的客户：
</p>
<p>
    沈阳栢世嘉贵金属业贸易所（以下简称“贸易所”）的相关产品现货合约及实货买卖业务是一种潜在收益和潜在风险均不确定的投资业务，对客户的投资风险承受能力、理解投资风险的程度、风险控制能力以及投资经验有较高的要求。客户签署本协议，代表其对在该公司未来进行的贸易所相关产品现货合约及实货买卖业务的风险已有了充分的认知与了解。
</p>
<p>
    本风险揭示书（以下简称“揭示书”）旨在向客户充分揭示投资风险，仅为客户评估和确定自身的投资风险承受能力提供参考。本揭示书披露了买卖过程中可能发生的各种风险因素，但是并没有完全包括所有关于贸易所相关产品买卖的风险。鉴于投资风险的存在，在签订贸易所相关产品现货合约及实货买卖业务《客户协议书》及正式进行买卖前，客户应仔细阅读揭示书，确保自己已经充分理解贸易所相关产品现货合约及实货买卖业务有关买卖的性质、规则和风险，客户应依据其个人的投资经验、投资目标、财务状况以及自身承担风险能力等因素自行决定是否参与该买卖。
</p>
<p>
    若客户对于本揭示书有不理解或不清晰的地方，应该及时咨询相关的机构，对揭示书不存在异议时方可亲笔签字（机构客户需加盖公章）确认。
</p>
<p>
    (一) 温馨提示
</p>
<p>
    1) 贸易所相关产品现货合约及实货买卖业务具有高投机性和高风险性，不适合使用养老基金、债务资金（如金融机构贷款或私人借款）等资金进行买卖的客户。
</p>
<p>
    2) 贸易所相关产品现货合约及实货买卖业务只适合于开户时满足以下全部条件的客户：
</p>
<p>
    a) 年满 18 周岁、未满 60 周岁并具有完全民事行为能力的自然人或依法在中华人民共和国境内注册成立且合法存续的企业法人或其他经济组织；
</p>
<p>
    b) 能够充分理解有关于此买卖的一切风险，并且具有一定的风险承受能力；
</p>
<p>
    c) 因买卖失误而造成账户资金部分或全部损失，仍不会改变其正常生活方式或影响其正常生产经营状况的。
</p>
<p>
    (二) 相关的风险揭示
</p>
<p>
    即使客户进行止盈/止损委托买卖，但市场条件剧烈变动可能使委托不能按客户设定价格被执行，从而无法将盈利/损失控制在客户拟定的范围之内。
</p>
<p>
    在市场波动到一定程度时，若客户达到需要追加合约保证金的条件，并可能收到贸易所的善意（非义务）提醒需要追加合约保证金的通知。客户此时应慎重决定是及时平仓还是追加合约保证金，追加合约保证金可能会使损失扩大，而如果客户未能在指定的时间内追加足够的合约保证金金额，在市场波动持续不利于客户的情况下买卖合约可能被甲方根据贸易所规条强行平仓。
</p>
<p>
    此外，客户还应注意到下列风险的存在，并须自行承担有关风险及损失：
</p>
<p>
    1) 政策风险
</p>
<p>
    国家法律、法规、政策规章的变化，紧急措施的出台，相关监管部门监管措施的实施，贸易所买卖规则及各项管理办法、实施细则的修改等原因，均可能会对客户的买卖产生影响，客户必须承担由此导致的损失。
</p>
<p>
    2) 价格波动的风险
</p>
<p>
    贸易所相关产品作为一种特殊的具有投资价值的商品，其价格受多种因素的影响（如国际经济形势、外汇汇率、相关市场走势、供求关系、政治局势和能源价格等等），这些因素对贸易所相关产品价格的影响机制非常复杂，客户在实际操作中难以全面把握，因而存在出现买卖决策失误的可能性，如果不能有效控制风险，则可能遭受较大的损失，客户必须独自承担由此导致的一切损失。
</p>
<p>
    3) 买卖成本风险
</p>
<p>
    贸易所相关产品现货合约买卖过程中，可能会因市场风险的转变而调整合约保证金标准、买卖手续费及违约仓租等风险控制策略，可能会影响到买卖成本的预算。客户此时应慎重决定是及时平仓还是暂停操作。当客户持有合约至下一买卖日时，滞纳金将损益计入保证金余额，即使客户实现了买卖产品对价格上的盈利，也可能因为累计滞纳金而出现实际的亏损。
</p>
<p>
    4) 技术风险
</p>
<p>
    贸易所相关产品现货合约买卖是通过电子通讯技术和互联网技术来实现。有
</p>
<p>
    关通讯服务及软、硬件服务由不同的供应商提供，可能会存在品质和稳定性
</p>
<p>
    方面的风险；贸易所及会员单位无法控制电讯信号的品质和稳定性，也不能保证买卖客户端的设备配置或网络连接的品质和稳定性以及互联网传送和接收的实时性。故由以上通讯或网络故障导致的某些服务中断或延时可能会对客户的买卖产生影响。另外，客户的电脑系统有可能被病毒或网络黑客攻击，从而使客户的买卖决策无法正确或及时执行。上述不确定因素的出现也存在着一定的风险，有可能会对客户的买卖产生影响，客户应该充分了解并承担由此造成的全部损失。
</p>
<p>
    5) 买卖风险
</p>
<p>
    a)
    客户应了解贸易所相关产品现货合约买卖业务具有低合约保证金和高杠杆比例的买卖特点，可能导致快速的盈利或亏损。若买卖的方向与行情的波动相反，会造成较大的亏损，根据亏损的程度，客户必须有条件满足随时追加合约保证金的要求，否则其持仓将会被服务系统强制平仓，客户必须承担由此造成的全部损失。
</p>
<p>
    b)
    服务系统综合国际贵金属市场价格和国内其他贵金属市场价格以及市场供求关系等，连续报出贸易所相关产品现货合约的人民币中间指导价。该价格可能会与其它途径的报价存在微弱的差距，服务系统并不能保证上述买卖价格与其他市场保持完全的一致性。
</p>
<p>
    c) 客户在服务系统内，通过网上终端所提交的市价买卖申请一经成交，即不可撤回或撤销，客户必须接受这种方式可能带来的风险。
</p>
<p>
    d) 客户通过贸易所以电话的方式提交市价单买卖申请，一经贸易所的盘房部报价确认成交后，即不可撤回或撤销，客户必须接受此种报单方式有可能带来的风险。
</p>
<p>
    e)
    贸易所、会员单位及其工作人员均不对客户作出获利保证，不会与客户分享收益或共担买卖风险。客户应明确所有针对贸易所相关产品现货合约及实货买卖业务的任何获利保证或不会发生亏损的承诺均为不可能或者是没有根据的误导。
</p>
<p>
    f)
    客户的买卖申请必须建立在自主决定的基础之上。贸易所、会员单位及其工作人员提供的任何关于市场的分析和信息，仅代表该会员单位及其个人对市场的观点，不作为客户的买卖参考，不构成任何的要约或承诺。由此而造成的买卖风险由客户自行承担。
</p>
<p>
    g)
    在电话以及服务系统买卖的过程中，有可能出现偶然性的明显的错误报价，贸易所可能事后会对错价及错价产生的盈亏作出纠正，由此而造成的买卖风险由客户自行承担。
</p>
<p>
    (三) 特别提示
</p>
<p>
    1) 客户在参与买卖之前务必详尽地了解贸易所相关产品买卖的基本知识和
</p>
<p>
    相关风险以及贸易所有关的业务规则等信息，依法合规从事贸易所相关 产品买卖业务。
</p>
<p>
    2)
    沈阳栢世嘉贵金属业贸易所作为全国首家外资管理、辽宁省金融创新项目，与现有的国内其他贵金属买卖市场相比，在买卖模式、买卖规则等方面存在着一定的区别；而且贸易所为了确保市场“公开、公平、公正”和健康稳定地发展，将采取更加严格的措施，强化市场的监管。请客户务必密切地关注有关于该市场的公告、风险提醒等信息，及时了解市场风险状况，做到理性买卖，切忌盲目跟风。
</p>
<p>
    3)
    客户在开通买卖之前，请配合会员单位至贸易所系统平台进行开户信息完善工作，且保证开户信息的完整及真实性，不得采取弄虚作假等手段规避有关的要求，否则，贸易所将拒绝为其开通买卖服务。
</p>
<p>
    4)
    本揭示书所述风险揭示事项仅为列举性质，未能详尽地列明有关贸易所相关产品买卖的所有风险因素，客户在参与买卖之前，还应认真地对其它可能存在的风险因素有所了解和掌握。
</p>
<p>
    5) 我们诚挚希望和建议客户，从风险承受能力等自身实际情况出发，审慎地决定是否参与贸易所相关产品投资，合理地配置自己的金融资产。
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>
        本人（本机构）已认真阅读以上风险说明并完全理解和同意全部内容，自愿承担上述买卖业务造成的风险，以及由此带来的一切可能的损失。
    </strong>
    <strong></strong>
</p>
<p style="margin-bottom: 20px;">
    自然人或机构法定代表人抄写：
</p>
<p>
    <hr />
                <br/>
    <hr />
</p>
<p align="left" style="margin-top: 15px;">
    客户签章：<u> </u><u></u>
</p>
<p>
签署日期：<u> </u><u> </u><u> </u><u> </u>年<u> </u><u> </u><u> </u><u> </u>    <u> </u>月<u> </u><u> </u><u> </u>日
</p>
<p>
    提示：自然人客户需签字确认；法人机构客户需法定代表人或授权代表签字，加盖机构公章确认；非法人机构客户需负责人或授权代表签字，加盖机构公章确认。
</p>

            </article>
        </div>


    </div>
</body>
{% include "footer.html" %}
<script type="text/javascript" src="{{static_url("js/unslider-min.js")}}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".slider").unslider({autoplay: true, delay: 5000});
    //首页价格标签部分
    //$.indexPriceTabs();
    $.switchTabs(".quotes .qul li","click","data-target",".shtabs","active");
    //websocket
    $.cnwebSocket();
    //申请开户
    $("#apply").click(function(){
       $(".modal-bg,.modal-ct").addClass("active");
    });
    $(".modal-bg.active,#mclose").click(function(){
        console.log("click");
        $(".modal-bg.active,.modal-ct.active").removeClass("active");
    });

});
    
</script>
