/*导航标签*/
.content{
    width:1100px;
    margin:0 auto;
    position: relative;
}

.nav-content.nav{
    height: 40px;
    width: 100%;
    background-color: #6d5f56;
    color:#fff;
        padding-top: 5px;
    padding-bottom: 5px;
    }

.nav.left img{
    width:338px;
    margin: 15px 20px;
}
.nav.left > p{
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 0.9em;
    color: #555;
    font-weight: bold;
}

.nav-content ul li{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 1.2em;
    border-right: 1px dashed #9D7F7A;
    padding-right: 58px;
    text-align:center;
}

.nav-content ul li a{
color:#fff;
}

.nav-content.nav ul{
    width:100%;
    height:100%;
}

.nav-content ul li a:hover{
color:#cc8112;
}

.unslider-nav{
position: absolute;
margin-top: -20px;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
}

#navinfo {
float: right;
}

#navinfo ul{
    margin-top: 30px;
    float: right;
    margin-right: 73px;
}

#navinfo ul li{
border-right:1px dashed #ccc;
font-size:1.2em;
padding-right:15px;
padding-left:10px;
}

#navinfo ul li a{
color: #7A350D;
}

/*不显示slider prev next*/
.unslider-arrow{
display:none;
}

/*首页内容部分*/
.content .ntitle{
margin-top: 15px;
border-bottom: 1px solid #ccc;
padding-bottom: 5px;
margin-bottom: 10px;
}

.nqdt .news,.nqdt .quotes{
    padding: 10px 20px;
    width:541px;
}
.quotes .warning {
    padding: 10px 20px;
}
.quotes .warning h2{
    color:#555;
}
.quotes .warning p{
    font-size: 1.3em;
    color:#555;
}
.quotes .qul{
    position: absolute;
    top: 30px;
    right: 31px;
}

.quotes .qul li,.nqdt .news ul li a{
    font-size:1.1em;
    color:#555;
    cursor: pointer;
}
.nqdt .quotes div[id^=index-tag] ul > li,.nqdt .quotes div[id=index-tag3] .ctitle{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    position: relative;
    padding: 5px 5px;
}
.nqdt .quotes div[id^=index-tag] ul > li .cindex{
        position: absolute;
        left:150px;
}
.nqdt .quotes div[id^=index-tag] ul > li .mcindex{
     position: absolute;
        left:105px;
}
.nqdt .quotes div[id^=index-tag] ul > li .udval{
position: absolute;
    left: 340px;
}

.nqdt .quotes div[id^=index-tag] ul > li .up,.nqdt .quotes div[id^=index-tag] ul > li .down{
    position: absolute;
    left: 323px;
    top:7px;
}

.nqdt .quotes div[id=index-tag3] table tr td i[class*="up_or_down"],.nqdt .quotes div[id^="index-tag"] ul > li .up,.nqdt .quotes div[id^="index-tag"] ul > li .down{
    background: url("../img/icons.png") no-repeat;
}

 .quotes div[id^=index-tag].shtabs,.shtabs{
    display: none;
 }

.quotes div[id^=index-tag].shtabs.active,.shtabs.active{
    display: block;
 }

.nqdt .quotes div[id^=index-tag] ul > li .up,.nqdt .quotes div[id=index-tag3] table tr td i[class*="up_or_down"].up{
    background-position: -0px -119px; width: 15px; height: 15px;
}

.nqdt .quotes div[id=index-tag3] table tr td{
    position: relative;
    padding: 5px 5px;
}

.nqdt .quotes div[id^=index-tag] ul > li .down,.nqdt .quotes div[id=index-tag3] table tr td i[class*="up_or_down"].down{
    background-position: -0px -104px; width: 15px; height: 15px;
}
.nqdt .quotes div[id=index-tag3] table tr td i[class*="up_or_down"].up,.nqdt .quotes div[id=index-tag3] table tr td i[class*="up_or_down"].down{
    position: absolute;
    left: -20px;
}
.nqdt .quotes div[id=index-tag3] .ctitle li{
margin-right: 60px;
border-bottom: 0;
}
/*申请按钮*/
#applylink{
    padding:5px 10px;
    border:1px solid #ccc;
    border-radius: 5px;
    color:#555;
}
.modal-dt ~ div span{
    color:#555;
}
/*外币兑换价格表*/
.nqdt .quotes div[id=index-tag3] table{
    width:100%;
}
/*申请开户页面*/
.afacount h2{
    text-align: center;
    margin-top: 20px;
}
.em,p.warn{
    color:red;
}

.afacount form .frow{
    padding: 10px 20px;
    margin-bottom: 22px;
    margin-left: 80px;
    width: 461px;
}
.afacount form .frow div.tips {
    margin-top: 20px;
    position: absolute;
    margin-left: 195px;
    color: red;
}
.afacount form .frow div.tips.cr{
    color:#08b135;
}

.afacount form.frow div.tips.cr{
    color:#13981e;
}

.afacount form .frow label{
    font-size: 1.1em;
    margin-left: 74px;
}

.afacount form input.finput{
    height: 35px;
    border-radius: 5px;
    margin-left: 20px;
    width: 230px;
    float: right;
    border: 1px solid gray;
    text-indent: 20px;
}
.afacount form input.finput[type=file]{
    text-indent: 0;
}

.afacount form div.tips.curtips {
    margin-left: 193px;
    margin-top: 10px;
}

.afacount form div.tips.ctctips{
    margin-right: 41px;
    position: absolute;
    left: -111px;
    top: 10px;
}

.afacount form select#wbank,.afacount form select#crtype {
    margin-left: 47px;
    height: 35px;
    border-radius: 5px;
    width: 227px;
    text-indent: 20px;
    border-radius: 5px;
     border: 1px solid gray;
}

.afacount form{
    width: 720px;
    margin: 0 auto;
    border: 2px solid #ccc;
    margin-top: 40px;
    padding: 40px 20px;
    position: relative;
    margin-bottom: 34px;
}

.afacount form p.warn {
    width: 393px;
    /* text-align: center; */
    margin-left: 175px;
    margin-top: 38px;
}

.afacount form p.warn{
    width: 600px;
    text-align: left;
    margin: 0 auto;
}

.afacount form #apsm_btn{
    padding: 10px 20px;
    border-radius: 5px;
    /* margin: 0 auto; */
    position: absolute;
    left: 42%;
    width: 200px;
    background-color: #7b6457;
    color: #fff;
    font-size: 1.1em;
}

div#captcha {
    position: absolute;
    right: 40px;
    margin-top: -17px;
    cursor:pointer;
}

#captcha img{
    width: 105px;
}

/* news part */

.content.news h2{
    text-align: center;
    margin-top: 30px;
}

.content.news p.date{
    text-indent: 35px;
    text-align: center;
    margin: 5px 5px;
    color: #868080;
}

.content.news article img,.content.finance .shtabs img{
    width: initial;
    max-width: 660px;
}
.content.news article {
    margin-bottom: 30px;
    margin-top: 20px;
}
.content.news article p{
    font-size: 1.3em;
    text-indent: 35px;
    line-height: 1.7;
        color: #333;
}
.content.news article p strong{
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* img align center */
.content.news article p.detailPic{
    text-align: center;
}

.content.news,.content.trade,.content.finance,.content.newslist{
    background-color: #fcfcfc;
    padding: 20px 20px;
}

.content .nul li .brief{
    color:#868080;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content .nul li .pdate{
    text-align: right;
    color:#d2d2d2;

}
.content .nul li{
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.content .nul li span{
    float: right;
    margin-top: -20px;
    color:#d2d2d2;
}
/*footer part*/

#footer{
        color: #d2d2d2;
    background-color: #555;
    padding: 33px 20px;
    bottom: 0;
    width: 100%;
}

#footer .content ul h3{
    color:#fff;
    text-align: center;
}

#footer .content ul{
    width: 165px;
}

#footer .content ul.add{
    width: 400px;
}

#footer .content ul.add li{
    text-align: left;
}

#footer .content ul li a{
    color:#d2d2d2;
}

#footer .content ul li{
    padding:1px;
    font-size: 1.1em;
    text-align: center;
}

#footer .content ul.products{
    margin-left: 200px;
}

#footer .bottom,#footer .content {
    text-align: center;
}

#footer hr{
    background-color:#868080;
        margin-top: 10px;
    margin-bottom: 10px;
}
/* newslist */
.content.newslist{
    padding-left: 25px;
}

.content.newslist .nu li{
    padding: 10px 12px;
    font-size: 1.1em;
}
.content.newslist .nu li a{
    color:#555;
}
.content.newslist ul.pagination{
    margin-top: 35px;
    text-align: center;
    margin-bottom: 25px;
}
.content.newslist ul.pagination li a.active{
    background-color: #fff;
        color: #555;
}
.content.newslist ul.pagination li a{
        color: #fff;
    border: 1px solid #dddddd;
    padding: 5px;
    background-color: #afa7a1;
}
.content.newslist .nu .nlist .dt{
        font-size: 0.9em;
    color: #ccc;
    margin-left: 119px;
}
/* 实物交割 */
.content.trade dt.title{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px 20px;
    color:#555;
}

.content.trade dt{
    color: #555;
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content.trade dd{
    font-size: 1.1em;
}
.content.trade dd table tbody td{
    text-align: center;
}
.content.trade dd table{
    border-collapse: collapse;
    border-spacing: 0 2px;
}
.content.trade dd table thead tr{
    background-color: #c47e17;
    color: #fff;
    height: 30px;
    border: 1px solid #ccc;
}
.content.trade dd table tr td{
    border:1px solid #ccc;
}
/*产品及服务*/
.content.service ul.snav{
    padding: 2px 17px;
    background-color: #808ea9;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
        height: 40px;
}
.content.service ul.snav li{
    margin-right: 20px;
    padding: 10px;
    font-size: 1.2em;
    color: #fff;
}
.content.service ul.snav li.active{
    background-color: #cc8112;
    line-height: 19px;
}
/*出入金流程*/
.content.finance ul.ful {
        border-bottom: 1px solid #ccc;
    /* padding-bottom: 10px; */
    text-align: right;
}
.content.finance ul.ful li.active{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #accd1e;
    color: #fff;
}
.content.finance ul.ful li{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    color: #555;
    font-size: 1.3em;
}

.newslist h2{
    text-align: left;
    padding-top:15px;
    padding-bottom: 12px;
}
/*元素并排显示样式*/
.nav-content ul li,#topnav,#navinfo,#navinfo ul li,
.quotes .qul li,.nqdt .news,.nqdt .quotes,.nqdt .quotes div[id=index-tag3] .ctitle li,#footer .content ul,.content.service ul.snav li,
.content.finance ul.ful li,.content.newslist ul.pagination li
{
    display: inline-block;
    *display:inline;
    vertical-align: top;
    zoom:1;
}
