{% extends "admin_panel.html" %}
{% block panel %}

    <h3>会员列表</h3>
    <form method="get" id="smembf">
        <label></label><i></i><input type="text" name="smem" placeholder="搜索会员姓名,账号,电话"/>
        <input type="checkbox" name="ifrv" id = "ifrv" value="viewed"/><label for="ifrv">是否已审核</label>
        <input type="submit" value="搜索"/>
    </form>

    <table class="review_tb user">
        <tbody>
        <tr class="title">
            <td>编号</td>
            <td>用户名</td>
             <td>客户姓名</td>
            <td>手机号码</td>
            <td>身份证</td>
            <td>推荐人</td>
            <td>会员组</td>
            <td>状态</td>
            <td>申请时间</td>
            <td>操作</td>
        </tr>
        {% if users %}
        {% for i in users %}
            {% if i[20] and i[20].isalpha() %}
            <tr class="alist error">
            <td class="tid">{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[6]}}</td>
            <td>{{i[8]}}</td>
            <td>{{i[5]}}</td>
            <td>24</td>
            <td class="rv">{% if i[18] == "0" %}待审核 {% else %}已审核{% end %}</td>
            <td>{{i[17]}}</td>
            <td><span class="review">审核</span>|<span class="remove">删除</span></td>
        </tr>

        {% else %}

        <tr class="alist">

            <td class="tid">{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[6]}}</td>
            <td>{{i[8]}}</td>
            <td>{{i[5]}}</td>
            <td>24<input type="hidden" id="imgpath" value="{{"/".join(i[13].split("/")[:5])}}"/></td>
            <td class="rv">{% if i[18] == "0" %}待审核 {% else %}已审核{% end %}</td>
            <td>{{i[17]}}</td>
            <td><span class="review">审核</span>|<span class="remove">删除</span></td>
        </tr>
        {% end %}
        {% end %}
        {% end %}
        </tbody>
    </table>
    <ul class="pagination">

        {% if pages and 1< pages <= 24 %}
        {% for i in range(1,pages+1) %}
            {% if i == offset %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="active">{{i}}</a></li>
                    {% else %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="">{{i}}</a></li>
                    {% end %}
            {% end %}
        {% end %}

        {% if pages and pages > 24 %}
        {# ------ #}
        <li><a href="/admin/review?offset={{1}}&smem={{kwds}}&ifrv={{ifrv}}" class=""><<</a></li>

        {% if offset > 1%}
            <li><a href="/admin/review?offset={{offset-1}}&smem={{kwds}}&ifrv={{ifrv}}" class=""><</a></li>
        {% end %}
        {% if offset < pages/3 %}
            {% if (pages/3 - offset) >6 and offset >9  %}
               {% for i in range(1,5) %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="">{{i}}</a>
                    {% end %}
                    <li><a href="javascript:;" class="empty">...</a>
                    {% for i in range(offset-2,offset+3) %}
                    {% if i == offset %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="active">{{i}}</a>
                    {% else %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="">{{i}}</a>
                    {% end %}
                    {% end %}
            {% elif (pages/3 - offset) > 6 and offset <=9  %}
                {% for i in range(1,offset+4) %}
                    {% if i == offset %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="active">{{i}}</a>
                    {% else %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="">{{i}}</a>
                    {% end %}
                {% end %}
        {% elif (pages/3 - offset) <= 6 and offset>9  %}
            {% for i in range(1,5) %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="">{{i}}</a>
                    {% end %}
                    <li><a href="javascript:;" class="empty">...</a>
                    {% for i in range(offset-3,offset+3) %}
                    {% if i == offset %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="active">{{i}}</a>
                    {% else %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="">{{i}}</a>
                    {% end %}
                    {% end %}
        {% elif (pages/3 - offset) <= 6 and offest <= 9  %}
            {% for i in range(1,offset+4) %}
                    {% if i == offset %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="active">{{i}}</a>
                    {% else %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="">{{i}}</a>
                    {% end %}
                {% end %}
    {% end %}

        <li><a href="javascript:;" class="empty">...</a></li>

        {% for i in range(pages/2-3,pages/2+3) %}
            <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}">{{i}}</a></li>
        {% end %} {# end for #}
        <li><a href="javascript:;" class="empty">...</a></li>

        {% for i in range(pages-3,pages+1) %}
            <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}">{{i}}</a></li>
        {% end %}
        {% end %} {# end if offset 1/3 #}

        {# ------ #}

        {# 1/3 ~ 2/3 part #}
        {% if pages/3 <= offset <= pages/3*2 %}
        {% for i in range(1,5) %}
            <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}">{{i}}</a></li>
        {% end %}{# end for #}

        <li><a href="javascript:;" class="empty">...</a></li>

        {% for i in range(offset-3,offset+4) %}
        {% if i == offset %}
            <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="active">{{i}}</a></li>
            {% else %}
        <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}">{{i}}</a></li>
        {% end %} {# end if #}

        {% end %} {# end for #}
        <li><a href="javascript:;" class="empty">...</a></li>

        {% for i in range(pages-3,pages+1) %}
            <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}">{{i}}</a></li>
        {% end %} {# end for #}
        {% end %} {# end if offset 2/3 #}

        {# ------ #}

        {# pages-3 part #}
        {% if pages/3*2 < offset <= pages %}
        {% for i in range(1,6) %}
            {% if i == offset %}
            <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="active">{{i}}</a></li>
            {% else %}
            <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="">{{i}}</a></li>
            {% end %}
        {% end %}
        <li><a href="javascript:;" class="empty">...</a></li>

        {% for i in range(pages/2-3,pages/2+3) %}
            {% if i == offset %}
            <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="active">{{i}}</a></li>
            {% else %}
            <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="">{{i}}</a></li>
            {% end %}
        {% end %} {# end for #}
        <li><a href="javascript:;" class="empty">...</a></li>

        {% if pages - offset < 6 %}
            {% for i in range(offset-2,pages+1) %}
            {% if i == offset %}
                <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="active">{{i}}</a></li>
            {% else %}
                <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="">{{i}}</a></li>
            {% end %}
            {% end %}
        {% else %}
            {% for i in range(offset-2,offset+2) %}
                {% if i == offset %}
                <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="active">{{i}}</a></li>
                {% else %}
                <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="">{{i}}</a></li>
                {% end %}
            {% end %}
            <li><a href="javascript:;" class="empty">...</a></li>
            {% for i in range(pages-3,pages+1) %}
                {% if i == offset %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="active">{{i}}</a></li>
                {% else %}
                    <li><a href="/admin/review?offset={{i}}&smem={{kwds}}&ifrv={{ifrv}}" class="">{{i}}</a></li>
                {% end %}
            {% end %} {# end for #}

        {% end %}


        {% end %} {# end if if 2/3*pages<= offset <= pages% #}
        {% if offset < pages %}
        <li><a href="/admin/review?offset={{offset+1}}&smem={{kwds}}&ifrv={{ifrv}}" class="">> </a></li>
        {% end %}
        <li><a href="/admin/review?offset={{pages}}&smem={{kwds}}&ifrv={{ifrv}}" class="">>></a></li>
        {% end %} {# end if pages #}
    </ul>


{% end %}

{% block modal %}

<div class="modal-bg">
</div>
    <div class="modal-ct-s-1">
        <img id="mclose" src="{{static_url("img/close.png")}}"/>
        <h2>用户审批</h2>
        <div class="modal-dt">
            <form id="rvform">
                {% raw xsrf_form_html() %}
                <div class="data">
                </div>
                <div class="frow" style="text-align: center;">
                    <input type="submit" id="rvbtn" class="sbtn" value="提交审核" disabled="disabled" style="background-color: #ccc;color:#fff;"/>
                    <input type="submit" id="vnbtn" class="sbtn" value="审核下一个"/>
                </div>

            </form>
        </div>

    </div>
<div class="loading">
            <img src="{{static_url("img/loading.gif")}}"/>
        </div>
{% end %}


