<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>中新国金_后台</title>
    <meta name="application-name" content="中新国金"/>
    <meta name="renderer" content="webkit"><!-- 强制360使用极速模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="{{static_url("img/favicon.ico")}}" type="image/x-icon"/>
    <link rel="icon" href="{{static_url("img/favicon.ico")}}" type="image/x-icon"/>
    <!-- css-->
    <link rel="stylesheet" href="{{static_url("css/public.css")}}"/>
    <link rel="stylesheet" href="{{static_url("css/admin/admin.css")}}"/>
    
</head>
<body>

<form action="/admin/rvuser" method="post" id="rvform">
    {% raw xsrf_form_html() %}
    <input type="hidden" value="{{i[0]}}" name="uid" />
    <div class="frow">
        <label>用户账号:</label><input class="finput" type="text" value="{{i[1]}}" maxlength="15" pattern="\d{15}" name="uacc"/>
    </div>

    <div class="frow">
        <label>用户邮箱:</label><input class="finput" type="text" value="{{i[2]}}" name="umail" readonly="readonly"/>
    </div>

    <div class="frow">
        <label>用户姓名:</label><input class="finput" type="text" value="{{i[3]}}" name="uname" readonly="readonly"/>
    </div>

    <div class="frow">
        <label>用户密码:</label><input class="finput" type="text" value="{{i[4]}}" name="upwd" readonly="readonly"/>
    </div>

    <div class="frow">
        <label>推荐人编号:</label><input class="finput" type="text" value="{{i[5]}}" name="urcmd" readonly="readonly"/>
    </div>

    <div class="frow">
        <label>用户手机:</label><input class="finput" type="text" value="{{i[6]}}" maxlength="11" pattern="\d{13}" name="mobile" readonly="readonly"/>

    </div>

    <div class="frow">
        <label>用户地址:</label><input type="text" class="finput" value="{{i[7]}}" name="uadd" readonly="readonly"/>

    </div>
    <div class="frow">
        <label>用户身份证:</label><input class="finput" type="text" value="{{i[8]}}" name="idc"/>
    </div>
    <div class="frow">
        <label>银行卡号:</label><input class="finput" type="text" value="{{i[9]}}" name="bknum" readonly="readonly"/>
    </div>
    <div class="frow">
        <label>所属银行:</label><input class="finput" type="text" value="{{i[10]}}" name="bank" readonly="readonly"/>
    </div>
    <div class="frow">
        <label>该银行分行:</label><input class="finput" type="text" value="{{i[11]}}" name="branch" readonly="readonly"/>
    </div>
    <div class="frow">
        <label>交易货币:</label><input class="finput" type="text" value="{{i[12]}}" name="cr" readonly="readonly"/>
    </div>
    <div class="frow">
        <label>用户认证照片:</label>
        <ul class="uimgs">
            <li>
                <img src="{{i[13]}}" class="fimgs idcfimg"/><p>身份证正面照</p>
            </li>
            <li>
                <img src="{{i[14]}}" class="fimgs idcrimg"/><p>身份证背面照</p>
            </li>
            <li>
                <img src="{{i[15]}}" class="fimgs bkimg"/><p>银行卡照片</p>
            </li>
            <li>
                <img src="{{i[16]}}" class="fimgs psimg"/><p>手势照片</p>
            </li>
        </ul>

        <input type="hidden" value="{{i[13]}}" name="idcfimg" />
        <input type="hidden" value="{{i[14]}}" name="idcrimg" />
        <input type="hidden" value="{{i[15]}}" name="bkimg" />
        <input type="hidden" value="{{i[16]}}" name="psimg" />
    </div>

    <div class="frow">
        <label>备注信息:</label><input type="text" value="{% if i[20] %}{{i[20]}}{% else %}无{% end %}" class="finput" name="memo" />

    </div>
    <div class="frow">
        <input type="submit" id="rvbtn" class="sbtn" value="提交审核" disabled="disabled" style="background-color: #ccc;color:#fff;"/>
    </div>

</form>

<button class="rvbtn" href="">下一个</button>

<script type="text/javascript" src="{{ static_url("js/jquery-1.9.1.min.js") }}"></script>
<script type="text/javascript" src="{{static_url("js/admin.review.js")}}"></script>
</body>
</html>