*{
    margin:0;
    border:0;
    padding:0;
}
a{
    text-decoration: none;
}
a, img {
    border:none;
    outline:none;
}
body{
    font-size: 13px;
    background-color: #f7f7f7;
    /*font-family: Arial, "微軟正黑體", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro","Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;*/
    font-family:Microsoft YaHei,SimHei,SimSun;
}
img{
    width: 100%;
}
img.map, map area{
    outline: none;
}
li{
    list-style-type: none;
}