header{
    padding:10px 15px;
    background-color: #555;
}
header img{
    width: 125px;
}

/* swiper css*/
.swiper-container {
    width: 100%;
    height: 250px;
    position: relative;
}
.swiper-pagination-bullet-active{
    background: #d29350;
    box-shadow: -1px 1px 1px -1px #ccc;
}